footer {
    display: flex;
    justify-content: space-evenly;
font-size: larger;
    color: black;

}

button {
    background-color: wheat;
    font-weight: bolder;
    border-radius: 10px;

}

.social{
    display: flex;
    justify-content: center;
    color: wheat;
    background-color: wheat;
border-radius: 35px;
    background-position: center;
    width: 220px;
}

.activities{
color: black;
}



.activities:hover{
    color: wheat;
    font-weight: bolder;
}


.pictures {
    display: flex;
    justify-content: space-between;
}

.i-am{
    color: wheat;
    font-family: Calibri;
    font-weight: bolder;
}

.it{
    color: lightblue;
}


.name{
    color: wheat;
}

h1{
    color: wheat;
}

main{
    color: wheat;
    font-weight: bolder;
}

.uncle{
    color: black;
}

.gif{
    width: 300px;

}
 .about-me{

     color: wheat;
 }




@media screen and (max-width: 500px) {
    .container {
        background-color: red;
    }
}